* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

img {
    width: 100%;
}


.bg-light-pink {
    background-color: rgba(167, 33, 98, 0.15);
}

.bg-light-blue {
    background-color: rgba(5, 151, 160, 0.15);
}

.bg-light-green {
    background-color: rgba(71, 125, 17, 0.15);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-section {
    background: rgba(229, 84, 115, 0.1);
    padding-top: 50px;
}

.banner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

.banner-text {
    max-width: 682px;
}

.banner-image {
    max-width: 640px;
}

.title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
    padding-right: 100px;
}

.btn {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #e55473;
    text-decoration: none;
    padding: 20px 40px;
    display: inline-block;
}

.features-section {
    padding: 150px 0;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 300px;
}

.feature-items-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.feature-item {
    text-align: center;
}

.feature-photo {
    border-radius: 300px 300px 0px 0px;
    padding: 60px 30px 0 30px;
}

.feature-img {
    width: 330px;
    height: 450px;
}


.feature-item a {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
    display: block;
}

.services-wrapper {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 130px;
}

.service-item {
    text-align: center;
    padding: 88px 0;
}

.service-icon {
    width: 88px;
    height: 88px;
}

.item-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 15px;
}

.offer-section {
    padding: 100px 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.offer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.offer-text {
    text-align: center;
    width: 50%;
}

.pink-text {
    color: #E55473;
}

.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 50px;
}

.instagram-section {
    padding: 100px 0;
}

.instagram-items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 50px;
}